
/* Part A Styling */
.wd-tuiter-bubble-search {
    border-radius: 50px;
    height: 30px;
    width: 85%;
    background: #282c34;
    color: white;
}
.wd-search-gear {
    float: right;
    position: relative;
    top: 0;
    right: 12px;
    font-size: xx-large;
}

/* Part B Styling  */
.wd-nav-tabs {
    float: left;
    font: 15px;
    padding: 16px;
}
.wd-selected-tab {
    color: rgb(29, 161, 242);
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 10px;
}
/* Part C, D, and E Styling  */
.wd-selected-post {
    padding: 13px;
    position: relative;
    top: 2px
}
.wd-selected-post .wd-selected-post-title {
    font-size: 16px;
    color: white;
}

.wd-right-side-image {
    float: right;
    position: absolute;
    right: 16px;
    width: 100px;
    height: 100px;
    top: 5px;
    border-radius: 15px;
}
