/*
 Main content styling.
 */
    .wd-opacity-85 {
        opacity: 85%;
    }
    .wd-no-border {
        border: 0px;
    }
    .wd-verified-check {
        font-size: .80rem;
        color: white;
    }
    .wd-subtext {
        font-size: small;
    }

    /* Took basis of this code from bootstrap library */
    .wd-background {
        background-color: rgb(10, 14, 18);
    }

    /* search bar */
    .wd-magnifying-search-tuiter {
        bottom: 15px;
        left: 5%;
    }

    /* Navigation Tab Style */
    .wd-nav-tab-group-overrides {
        font-weight: normal;
        border: 0;
        background-color: rgb(10, 14, 18);
    }
    .wd-nav-tab-item-active {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-decoration-color: #0dcaf0;
        text-underline-offset: 15px;
    }

    /* Navigation Tab Style */
    .wd-image-content-override {
        border: 1px solid #282c34;
        width: 100%;
        height: 75%;
    }

/*
 Navigation Content Styling.
 */
    .wd-left-navigation {
        border: 0 !important;
        background-color: rgb(10, 14, 18) !important;
        color: white !important;
        opacity: 85%;
    }
    .wd-icon-override {
        font-size: 1.5rem;
        opacity: 85%;
        color: white;
    }
    .wd-nagivation-text {
        font-size: 1.75rem;
    }

/*
Who to Follow 
 */
    .wd-user-handle {
        opacity: 80%;
    }
    .wd-user-name {
        opacity: 85%;
    }