.wd-float-left {
    float: left;
}

.wd-tuit {
    position: relative;
}
.wd-color-red {
    color: #ff7070;
}
.wd-color-gray {
    color: #282c34;
}

.wd-left-align {
    position: relative;
    left: 16px;
}
.wd-heading {
    top: 12px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-right: hidden;
    border-left: hidden;
    border-top: hidden;
    border-color: #282c34;
}
.wd-prof-pic {
    position: relative;
    border-radius: 50px;
    width: 48px;
    top:12px
}
.wd-user-handle {
    position: relative;
    left: 12px;
    font-size: 15px;
}



/* Tuit content (image and related links)*/
.wd-content-image {
    position: relative;
    top: 12px;
    height: 264px;
    width: 504px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
    border-width: 1px;
    color: #282c34;
}
.wd-tuit-text {
    max-width: 506px;
}
.wd-under-image-content {
    width: 504px;
    position: relative;
    top: 7px; /* Changed pixel offset from assignment spec to better fit content */
    padding: 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box; /* help from https://stackoverflow.com/questions/39129811/add-border-to-div-increase-div-width */
}


.wd-under-tuit-content {
    position: relative;
    top: 12px;
}
.wd-content-title {
    font-weight: bold;
    color: white;
    size: 15px;
}
.wd-tweet-icons {
    float: left;
    padding-right: 90px;
}
.wd-tweet-icons-values {
    position: relative;
    left: 12px;
}
.wd-tweet-icons-container {
    position: relative;
    top: 12px;
    left: 30px;
}


